html {
  font-size: $font-size--base;
}
body {
  font-family: 'Outfit';
}
h2 {
  color: white;
  font-size: 22px;
  font-weight: 600;
  font-style: normal;
  line-height: 1.25;
}
p {
  color: $clr-primary--soft;
  font-size: 1.6rem;
  line-height: 1.45;
}
