$clr-primary--soft: #8BACD9;
$clr-primary--cyan: #00FFF8;

$clr-dark--600: hsl(217, 54%, 11%);
$clr-dark--400: hsl(216, 50%, 16%);
$clr-dark--200: hsl(215, 32%, 27%);

.text-white {
  color: white;
}
.mt-24 {
  margin-top: 24px;
}
.mt-16 {
  margin-top: 16px;
}